# IntelliJ
.idea
*.iml
target

# Eclipse
.metadata
.settings
.classpath
.project
bin
tmp
istio-0.5.0

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
.vertx/
settings.json
